<header class="">
        <div class="container-fluid space">
            <div class="row">
                <div class="col-md-2 col-12 logo1">
                    <a href="http://teknofest.org/"> <img class="logo img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/logo.svg"></a>
                </div>
                <div class="col-md-10">
                    <!--Subnav-->
                    <div class="col-md-12">
                        <style>
                            .subnav {
                                display: flex;
                                justify-content: flex-end;
                            }
                            
                            header.sticky {
                                height: 120px;
                            }
                        </style>
                        <div class="subnav">




                            <!--<a href="takvim/2021/4_5924778784921225907.pdf"><button class="btn btn-warning mb-3" style="background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0;">Etkinlik Takvimi</button></a>-->
                            <!--<a href="upload/etkinlik-haritasi-TR-2021.pdf"><button class="btn btn-warning mb-3" style="background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0 0 0 3px;">Etkinlik Haritası</button></a>-->
                            <!--<a href="pdfler/ulasim-haritasi-2021-final.pdf"><button class="btn btn-warning mb-3" style="cursor:pointer;background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0 0 0 3px;">Nasıl Ulaşırım?</button></a>-->
                            <div class="toggle-link">q</div>
                        </div>
                    </div>
                    <!--Subnav End-->
                    <div class="col-md-12 d-none d-md-block">
                        <style>
                            .tooltip-inner {
                                background-color: #F05022;
                                font-family: 'poppinsbold';
                                font-weight: 500;
                                font-size: 12px;
                                padding: 13px 15px 10px 15px;
                                border-radius: 15px;
                            }
                            
                            .social-box {
                                border: 1px solid rgba(164, 164, 164, 0.10);
                                box-shadow: 0 2px 11px 0 rgba(164, 164, 164, 0.10);
                            }
                            
                            .social-box:hover {
                                box-shadow: 0 2px 11px 0 rgba(164, 164, 164, 0.10);
                            }
                            
                            .canli button.canli-buton {
                                width: 100px;
                                height: 45px;
                                background-color: #F05022;
                                border-radius: 6px;
                                border: 0;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                margin: 0 5px;
                                -webkit-transition: 0.4s;
                                transition: 0.4s;
                                padding: 0;
                                font-family: 'poppinsbold';
                                font-weight: 500;
                                font-size: 12px;
                                line-height: auto;
                                color: #fff;
                            }
                            
                            .canli button.canli-buton:hover {
                                -webkit-transform: scale(1.09);
                                transform: scale(1.09);
                                -webkit-transition: 0.4s;
                                -webkit-transition: 0.1s;
                                transition: 0.1s;
                            }
                            
                            .social-media-content {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                justify-content: flex-end;
                                margin: 0 20px 20px 0;
                            }
                        </style>
                        <div class="social-media-content" style="">
                            <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Twitter&#39;da Takip Et">
                                <a href="https://twitter.com/teknofest" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/twitter.svg" class="img-fluid" alt="Twitter">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Instagram&#39;da Takip Et">
                                <a href="https://www.instagram.com/teknofest/" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/instagram.svg" class="img-fluid" alt="Instagram">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Facebook&#39;da Takip Et">
                                <a href="https://www.facebook.com/teknofestist/" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/facebook.svg" class="img-fluid" alt="Facebook">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Linkedin&#39;de Takip Et">
                                <a href="https://www.linkedin.com/company/teknofest" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/linkedin.svg" class="img-fluid" alt="Linkedin">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Youtube&#39;da Takip Et">
                                <a href="http://www.youtube.com/c/TEKNOFEST2021" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/youtube.svg" class="img-fluid" alt="Youtube">
                                </a>
                            </div>
                            ---->
                            <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Telegram&#39;da Takip Et">
                                <a href="https://t.me/TeknofestIstanbul" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/telegram.svg" class="img-fluid" alt="Telegram">
                                </a>
                            </div>
                            <div class="social-box">
                                <a href="https://www.teknofest.org/en" target="_blank">
                            ENG
                        </a>
                            </div>
                        </div>
                        <script>
                            $(function() {
                                $('[data-toggle="tooltip"]').tooltip()
                            })
                        </script>
                    </div>
                    <div class="col-md-12">
                        <div class="navicon-bg open"></div>
                        <div class="nav-icon" id="nav-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="main-menu">
                            <nav role="navigation" class="menu" id="menu">
                                <ul>
                                    <li>
                                        <a href="https://www.teknofest.org/index.html">Ana Sayfa</a></li>
                                    <li class="subnav">
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">Biz Kimiz</a>
                                        <ul>
                                            <li><a href="https://www.teknofest.org/hakkimizda.php">Hakkımızda</a></li>
                                            <li><a href="https://www.teknofest.org/duzenleyici-kuruluslar.html">Düzenleyici ve Paydaş Kurumlar</a></li>
                                            <li><a href="https://www.teknofest.org/basin-odasi.html">Basın Odası</a></li>
                                        </ul>
                                        <div class="toggle-link"></div>
                                    </li>
                                    <li class="subnav">
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">Etkinlikler</a>
                                        <ul>
                                            <li><a href="https://www.teknofest.org/gosteriler.html">Gösteriler</a></li>
                                            <li><a href="https://www.teknofest.org/aktiviteler.html">Aktiviteler</a></li>
                                            <!--     <li><a  href="stant-etkinlikler-yeni.pdf">Stant Etkinlikleri</a></li>-->
                                            <!--<li><a href="pdfler/take-off-agenda-tr.pdf">Take Off</a></li>-->
                                            <!--<li><a href="katilim-ve-kurallar.html">Katılım ve Kurallar</a></li>-->

                                        </ul>
                                        <div class="toggle-link"></div>
                                    </li>
                                    <li class="subnav">
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#" class="magaza">Yarışmalar</a>
                                        <ul>
                                            <li><a href="https://www.teknofest.org/yarismalar.html">Yarışmalarımız</a></li>
                                            <!---- <li><a href="finalist-takimlar.html">Finalist Takımlar</a></li> ----->
                                            <li><a href="https://www.teknofest.org/yarismaci-olanaklari.html">Yarışmacılara Sağlanan Olanaklar</a></li>

                                            <li><a href="https://www.teknofest.org/egitim-kiti.html">Eğitim Kitleri</a></li>
                                            <li><a href="https://www.teknofest.org/yarisma-itiraz-sureci.html">Yarışma İtiraz Süreci</a></li>
                                            <!--<li><a href="yarisma-takvimi.html">Yarışma Takvimi</a></li>-->

                                        </ul>
                                        <div class="toggle-link"></div>
                                    </li>
                                    <li class="subnav"><a href="https://www.teknofest.org/galeri.html">Galeri</a>
                                        <ul>
                                            <li><a href="https://www.teknofest.org/galeri.html">Galeri 2021</a></li>
                                            <li><a href="https://www.teknofest.org/galeri2020.html">Galeri 2020</a></li>
                                            <li><a href="https://www.teknofest.org/galeri2019.php">Galeri 2019</a></li>
                                            <li><a href="https://www.teknofest.org/galeri2018.php">Galeri 2018</a></li>
                                        </ul>
                                        <div class="toggle-link"></div>
                                    </li>
                                    <li><a href="https://www.teknofest.org/duyurular.html">Duyurular</a></li>
                                    <li class="subnav"><a href="https://www.teknofest.org/yarisma-detaylar-35.html#">Kurumsal Katılım</a>
                                        <ul>
                                            <li><a href="https://www.teknofest.org/kurumsal-katilim-sponsorluk.html">Sponsorluk</a></li>
                                            <li><a href="https://www.teknofest.org/kurumsal-katilim-standalani.html">Stand Alanı</a></li>
                                            <li><a href="https://www.teknofest.org/kurumsal-katilim-yemekalani.html">Yiyecek - İçecek Alanı</a></li>
                                        </ul>
                                        <div class="toggle-link"></div>
                                    </li>
                                    <li><a href="https://www.teknofestmagaza.com/" class="magaza">Mağaza</a></li>
                                    <li><a href="https://www.teknofest.org/sss.html">S.S.S.</a></li>
                                    <li><a href="https://www.teknofest.org/iletisim.html">İletişim</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pl-0 pr-0">
                <style>
                    .top-head-content-festival-alani {
                        position: relative;
                        margin: 40px 0px;
                        padding: 0;
                        width: 100%;
                        height: 150px;
                        overflow: hidden;
                        z-index: 9;
                        background-image: url("../img/search-bg.png");
                        background-color: #00d9e4;
                        background-size: cover;
                    }
                </style>
                <div class="top-head-content-festival-alani">
                    <div class="top-head">
                        <div class="container">
                            <h3>Helikopter Tasarım Yarışması</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>


    <div class="container-fluid">
        <div class="row">

            <style>
                .gundem_resmi3 {
                    width: 300px;
                    height: auto;
                    padding-top: 4px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 11px;
                    color: #6a6a6a;
                    float: left;
                    line-height: 16px;
                    margin: auto;
                    text-align: center;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    float: left;
                    background-color: #f05022;
                    padding: 12px;
                }
                
                .yarismalar-sol-menu-1 {
                    margin: 0 0 20px 0;
                }
                
                .yarismalar-sol-menu-1 ul {
                    list-style-type: none;
                    margin: 30px 0 0 0;
                    padding: 0;
                }
                
                .yarismalar-sol-menu-1 li {
                    min-height: 65px;
                    background-color: #F5F5F5;
                    border: 1px solid #E0E0E0;
                    color: #183059;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 0 0 21px;
                    transition: 0.3s;
                }
                
                .yarismalar-sol-menu-1 li:hover {
                    background-color: #183059;
                    border: 1px solid #E0E0E0;
                    color: #FFFFFF;
                    transition: 0.3s;
                }
                
                .yarismalar-sol-menu-1 a {
                    font-size: 16px;
                    color: #183059;
                    text-align: left;
                    font-family: 'poppinsbold';
                }
                
                .raporlar-buton {
                    display: flex;
                    flex-direction: column;
                }
                
                .btn-rapor {
                    width: 100%;
                    margin: 0 0 5px 0;
                    height: 39px;
                    padding: 0;
                    position: relative;
                }
                
                .raporlar-buton button.btn-primary {
                    font-weight: 400;
                    width: 100%;
                    height: 39px;
                    background-color: #F05022;
                    border-radius: 5.44px;
                    font-family: 'poppinsbold';
                    font-size: 14px;
                    color: #FFFFFF;
                    text-align: center;
                    border: none;
                    padding: 0;
                    transition: 0.3s;
                    cursor: pointer;
                }
                
                .raporlar-buton button.btn-primary:hover {
                    background-color: #CC3004;
                }
                
                .raporlar-buton button.btn-primary {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                
                .raporlar-buton button.btn-primary i {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }
            </style>
            <div class="container">
                <div class="row">


                    <div class="col-md-4 yarismalar-sol-menu-1">
                        <!--Tab Menü Başlangıç-->
                        @Html.Partial("tabMenuBaslangıç_tb1", null)
                        @Html.Partial("sartname_tb2", null)
                        @Html.Partial("takvim_tb3", null)
                        @Html.Partial("sorular_tb4", null)
                        @Html.Partial("finalTasarimSablonu_tb5", null)
                        @Html.Partial("yarismaDokuman_tb6", null)
                        @Html.Partial("finalist_tb7", null)
                        @Html.Partial("galeri_tb8", null)
                        @Html.Partial("basvuruForm(ileriKatagori)_tb9", null)
                        @Html.Partial("basvuruForm(serbestKatagori)_tb10", null)
                        @Html.Partial("detaylar_tb11", null)
                        @Html.Partial("saglananDetaylar_tb12", null)
                        @Html.Partial("eskiRaporlar_tb13", null)
                        @Html.Partial("yarismaAdresi_tb14", null)
                        @Html.Partial("video_tb15", null)
                        @Html.Partial("linkler_tb16", null)
                        @Html.Partial("globalSiteTag_tb17", null)


                        <!--Tab Menü Bitiş-->

                   
                            <!-- Tab 1 Bitiş -->
                           
                            <!-- Tab 2 Bitiş -->
                           
                            <!-- Tab 3 Bitiş -->
                           
                            <!-- Tab 4 Bitiş -->

                            





                            <!--- yarisma dokuman -->
                            






                            <!-- Tab 7 Bitiş -->
                            

                            <!-- Tab 8 Bitiş -->
                            
                            <!-- Tab 9 Bitiş -->
                            
                            <!-- Tab 10 Bitiş -->

                            
                            <!-- Tab 11 Bitiş -->



                           
                            <!-- Tab 12 Bitiş -->


                            
                            <!-- Tab 13 Bitiş -->







                            <!-- Tab 14 Bitiş -->

                            <!-- Video -->
                            

                                <!--Video Bitiş -->
                           
               
        <!-- Global site tag (gtag.js) - Google Analytics -->
       