﻿<header class="">
    <div class="container-fluid space">
        <div class="row">
            <div class="col-md-2 col-12 logo1">
                <a href="http://teknofest.org/"> <img class="logo img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/logo.svg"></a>
            </div>
            <div class="col-md-10">
                <!--Subnav-->
                <div class="col-md-12">
                    <style>
                        .subnav {
                            display: flex;
                            justify-content: flex-end;
                        }

                        header.sticky {
                            height: 120px;
                        }
                    </style>
                    <div class="subnav">




                        <!--<a href="takvim/2021/4_5924778784921225907.pdf"><button class="btn btn-warning mb-3" style="background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0;">Etkinlik Takvimi</button></a>-->
                        <!--<a href="upload/etkinlik-haritasi-TR-2021.pdf"><button class="btn btn-warning mb-3" style="background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0 0 0 3px;">Etkinlik Haritası</button></a>-->
                        <!--<a href="pdfler/ulasim-haritasi-2021-final.pdf"><button class="btn btn-warning mb-3" style="cursor:pointer;background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0 0 0 3px;">Nasıl Ulaşırım?</button></a>-->
                        <div class="toggle-link"></div>
                    </div>
                </div>
                <!--Subnav End-->
                <div class="col-md-12 d-none d-md-block">
                    <style>
                        .tooltip-inner {
                            background-color: #F05022;
                            font-family: 'poppinsbold';
                            font-weight: 500;
                            font-size: 12px;
                            padding: 13px 15px 10px 15px;
                            border-radius: 15px;
                        }

                        .social-box {
                            border: 1px solid rgba(164, 164, 164, 0.10);
                            box-shadow: 0 2px 11px 0 rgba(164, 164, 164, 0.10);
                        }

                            .social-box:hover {
                                box-shadow: 0 2px 11px 0 rgba(164, 164, 164, 0.10);
                            }

                        .canli button.canli-buton {
                            width: 100px;
                            height: 45px;
                            background-color: #F05022;
                            border-radius: 6px;
                            border: 0;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            margin: 0 5px;
                            -webkit-transition: 0.4s;
                            transition: 0.4s;
                            padding: 0;
                            font-family: 'poppinsbold';
                            font-weight: 500;
                            font-size: 12px;
                            line-height: auto;
                            color: #fff;
                        }

                            .canli button.canli-buton:hover {
                                -webkit-transform: scale(1.09);
                                transform: scale(1.09);
                                -webkit-transition: 0.4s;
                                -webkit-transition: 0.1s;
                                transition: 0.1s;
                            }

                        .social-media-content {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            justify-content: flex-end;
                            margin: 0 20px 20px 0;
                        }
                    </style>
                    <div class="social-media-content" style="">
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Twitter&#39;da Takip Et">
                            <a href="https://twitter.com/teknofest" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/twitter.svg" class="img-fluid" alt="Twitter">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Instagram&#39;da Takip Et">
                            <a href="https://www.instagram.com/teknofest/" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/instagram.svg" class="img-fluid" alt="Instagram">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Facebook&#39;da Takip Et">
                            <a href="https://www.facebook.com/teknofestist/" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/facebook.svg" class="img-fluid" alt="Facebook">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Linkedin&#39;de Takip Et">
                            <a href="https://www.linkedin.com/company/teknofest" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/linkedin.svg" class="img-fluid" alt="Linkedin">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Youtube&#39;da Takip Et">
                            <a href="http://www.youtube.com/c/TEKNOFEST2021" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/youtube.svg" class="img-fluid" alt="Youtube">
                            </a>
                        </div>
                        ---->
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Telegram&#39;da Takip Et">
                            <a href="https://t.me/TeknofestIstanbul" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/telegram.svg" class="img-fluid" alt="Telegram">
                            </a>
                        </div>
                        <div class="social-box">
                            <a href="https://www.teknofest.org/en" target="_blank">
                                ENG
                            </a>
                        </div>
                    </div>
                    <script>
                        $(function() {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    </script>
                </div>
                <div class="col-md-12">
                    <div class="navicon-bg open"></div>
                    <div class="nav-icon" id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <nav role="navigation" class="menu" id="menu">
                            <ul>
                                <li>
                                    <a href="https://www.teknofest.org/index.html">Ana Sayfa</a>
                                </li>
                                <li class="subnav">
                                    <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">Biz Kimiz</a>
                                    <ul>
                                        <li><a href="https://www.teknofest.org/hakkimizda.php">Hakkımızda</a></li>
                                        <li><a href="https://www.teknofest.org/duzenleyici-kuruluslar.html">Düzenleyici ve Paydaş Kurumlar</a></li>
                                        <li><a href="https://www.teknofest.org/basin-odasi.html">Basın Odası</a></li>
                                    </ul>
                                    <div class="toggle-link"></div>
                                </li>
                                <li class="subnav">
                                    <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">Etkinlikler</a>
                                    <ul>
                                        <li><a href="https://www.teknofest.org/gosteriler.html">Gösteriler</a></li>
                                        <li><a href="https://www.teknofest.org/aktiviteler.html">Aktiviteler</a></li>
                                        <!--     <li><a  href="stant-etkinlikler-yeni.pdf">Stant Etkinlikleri</a></li>-->
                                        <!--<li><a href="pdfler/take-off-agenda-tr.pdf">Take Off</a></li>-->
                                        <!--<li><a href="katilim-ve-kurallar.html">Katılım ve Kurallar</a></li>-->

                                    </ul>
                                    <div class="toggle-link"></div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pl-0 pr-0">
            <style>
                .top-head-content-festival-alani {
                    position: relative;
                    margin: 40px 0px;
                    padding: 0;
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                    z-index: 9;
                    background-image: url("../img/search-bg.png");
                    background-color: #00d9e4;
                    background-size: cover;
                }
            </style>
            <div class="top-head-content-festival-alani">
                <div class="top-head">
                    <div class="container">
                        <h3>Helikopter Tasarım Yarışması</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <style>
            .gundem_resmi3 {
                width: 300px;
                height: auto;
                padding-top: 4px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
                color: #6a6a6a;
                float: left;
                line-height: 16px;
                margin: auto;
                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
                float: left;
                background-color: #f05022;
                padding: 12px;
            }

            .yarismalar-sol-menu-1 {
                margin: 0 0 20px 0;
            }

                .yarismalar-sol-menu-1 ul {
                    list-style-type: none;
                    margin: 30px 0 0 0;
                    padding: 0;
                }

                .yarismalar-sol-menu-1 li {
                    min-height: 65px;
                    background-color: #F5F5F5;
                    border: 1px solid #E0E0E0;
                    color: #183059;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 0 0 21px;
                    transition: 0.3s;
                }

                    .yarismalar-sol-menu-1 li:hover {
                        background-color: #183059;
                        border: 1px solid #E0E0E0;
                        color: #FFFFFF;
                        transition: 0.3s;
                    }

                .yarismalar-sol-menu-1 a {
                    font-size: 16px;
                    color: #183059;
                    text-align: left;
                    font-family: 'poppinsbold';
                }

            .raporlar-buton {
                display: flex;
                flex-direction: column;
            }

            .btn-rapor {
                width: 100%;
                margin: 0 0 5px 0;
                height: 39px;
                padding: 0;
                position: relative;
            }

            .raporlar-buton button.btn-primary {
                font-weight: 400;
                width: 100%;
                height: 39px;
                background-color: #F05022;
                border-radius: 5.44px;
                font-family: 'poppinsbold';
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
                border: none;
                padding: 0;
                transition: 0.3s;
                cursor: pointer;
            }

                .raporlar-buton button.btn-primary:hover {
                    background-color: #CC3004;
                }

            .raporlar-buton button.btn-primary {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                .raporlar-buton button.btn-primary i {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }
        </style>
        <div class="container">
            <div class="row">


                <div class="col-md-4 yarismalar-sol-menu-1">
                    <!--Tab Menü Başlangıç-->

                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" role="tab" aria-controls="v-pills-hakkinda">Yarışma Hakkında</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-sartname">Yarışma Şartnamesi</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-takvim">Yarışma Takvimi</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-video">Yarışma Videoları</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-sorular">Sık Sorulan Sorular</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-rapor">Rapor Şablonları</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-finalist">Finalist Takımlar</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-dereceler">Dereceler</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-oduller">Ödüller</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-galeri">Galeri</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-destekler">Destekler</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-eskirapor">Geçmiş Yıl Raporları</a>
                        <a class="nav-link" role="tab" aria-controls="v-pills-adres">Yarışma Yeri Ve Tarihi</a>
                    </div>

                    <!--Tab Menü Bitiş-->

                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="v-pills-tabContent">

                        @Html.Partial("PartialView\\Tab1", null)
                        @Html.Partial("PartialView\\Tab2", null)
                        @Html.Partial("PartialView\\Tab3", null)
                        @Html.Partial("PartialView\\Tab4", null)
                        @Html.Partial("PartialView\\Tab5", null)
                        @Html.Partial("PartialView\\Tab6", null)
                        @Html.Partial("PartialView\\Tab7", null)
                        @Html.Partial("PartialView\\Tab8", null)
                        @Html.Partial("PartialView\\Tab9", null)
                        @Html.Partial("PartialView\\Tab10", null)
                        @Html.Partial("PartialView\\Tab11", null)
                        @Html.Partial("PartialView\\Tab12", null)
                        @Html.Partial("PartialView\\Tab13", null)
                        @Html.Partial("PartialView\\Tab14", null)
                        @Html.Partial("PartialView\\Tab15", null)
                        @Html.Partial("PartialView\\Tab16", null)
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="announcement-content">
                            <div class="announcement-head">
                                <h3>Duyurular</h3>
                                <a href="https://www.teknofest.org/duyurular.html"> <button type="button" class="btn btn-outline-primary">Tüm Duyurular İçin Tıklayın</button></a>
                            </div>
                        </div>
                        @Html.Partial("PartialView\\Duyuru", new Duyuru(){ DuyuruBaslik = "Deneme Duyuru", DuyuruAciklama= "Deneme Duyuru Aciklama", DuyuruDetayLink = "www.google.com"})
                        @Html.Partial("PartialView\\Duyuru", new Duyuru(){ DuyuruBaslik = "Deneme Duyuru2", DuyuruAciklama= "Deneme Duyuru Aciklama2", DuyuruDetayLink = "www.google.com"})
                        @Html.Partial("PartialView\\Duyuru", new Duyuru(){ DuyuruBaslik = "Deneme Duyuru3", DuyuruAciklama= "Deneme Duyuru Aciklama3", DuyuruDetayLink = "www.google.com"})
                        @Html.Partial("PartialView\\Duyuru", new Duyuru(){ DuyuruBaslik = "Deneme Duyuru4", DuyuruAciklama= "Deneme Duyuru Aciklama4", DuyuruDetayLink = "www.google.com"})
                        @Html.Partial("PartialView\\Duyuru", new Duyuru(){ DuyuruBaslik = "Deneme Duyuru5", DuyuruAciklama= "Deneme Duyuru Aciklama5", DuyuruDetayLink = "www.google.com"})
                        @Html.Partial("PartialView\\Duyuru", new Duyuru(){ DuyuruBaslik = "Deneme Duyuru6", DuyuruAciklama= "Deneme Duyuru Aciklama6", DuyuruDetayLink = "www.google.com"})
                        @Html.Partial("PartialView\\Duyuru", new Duyuru(){ DuyuruBaslik = "Deneme Duyuru7", DuyuruAciklama= "Deneme Duyuru Aciklama7", DuyuruDetayLink = "www.google.com"})
                    </div>
                </div>
            </div>

        </div>




        <div class="container-fluid footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="https://www.teknofest.org/index.html">Anasayfa</a></li>
                            <li><a href="https://www.teknofest.org/duyurular.html">Duyurular</a></li>
                            <li><a href="https://www.teknofest.org/yarismalar2.php">Yarışmalar</a></li>
                            <li><a href="https://www.teknofest.org/sss.html">S.S.S.</a></li>
                            <li><a href="https://www.teknofest.org/galeri.html">Galeri</a></li>
                            <li><a href="https://www.teknofest.org/kvkk.html">KVKK Aydınlatma Metni</a></li>
                            <li><a href="https://www.teknofest.org/iletisim.html">İletişim</a></li>
                        </ul>
                        <div class="social-footer">
                            <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Twitter&#39;da Takip Et">
                                <a href="https://twitter.com/teknofest" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/twitter.svg" class="img-fluid" alt="Twitter">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Instagram&#39;da Takip Et">
                                <a href="https://www.instagram.com/teknofest/" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/instagram.svg" alt="Instagram">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Facebook&#39;da Takip Et">
                                <a href="https://www.facebook.com/teknofestist/" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/facebook.svg" alt="Facebook">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Linkedin&#39;de Takip Et">
                                <a href="https://www.linkedin.com/company/teknofest" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/linkedin.svg" alt="Facebook">
                                </a>
                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Youtube&#39;da Takip Et">
                                <a href="http://www.youtube.com/c/TEKNOFEST2021" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/youtube.svg" alt="Facebook">
                                </a>

                            </div>
                            <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Telegram&#39;da Takip Et">
                                <a href="https://t.me/TeknofestIstanbul" target="_blank">
                                    <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/telegram.svg" class="img-fluid" alt="Telegram">
                                </a>
                            </div>
                        </div>
                        <!--            <div class="right" style="-->
                        <!--text-align: right;">  <a href="http://turkiyeteknolojitakimi.org/pdfler/T3Vakfi-KVKK-Aydinlatma-Metni.pdf" target="_blank" style="color:white;">T3 Vakfı KVKK</a></div>-->

                        <div class="footer-copyright">
                            <p>2021 TEKNOFEST Inc. All rights Reserved ©</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/js"></script>
    <script src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/jquery.min.js.indir"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/owl.carousel.min.js.indir"></script>
    <script src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/lightbox.min.js.indir"></script>
    <script src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/main.js.indir"></script>
    <script src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/bootstrap.js.indir"></script>
    <script src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/bootstrap.bundle.min.js.indir"></script>
    <script>
                $(function() {
            $("#v-pills-tab a").on("click", function(){

                    console.log("Burdyaımm");
                   var tabName = $(this).attr('aria-controls');
                     console.log("Burdyaımm2");
                   $('[role=tabpanel]').removeClass("show active");
                   $("#"+tabName).addClass("show active");
                     console.log("Burdyaımm3");
                    $("#v-pills-tab a.active").toggleClass("active");
                    $(this).addClass("active");
                });
        });
    </script>
</div>
<div id="lightboxOverlay" tabindex="-1" class="lightboxOverlay" style="display: none;"></div>
<div id="lightbox" tabindex="-1" class="lightbox" style="display: none;">
    <div class="lb-outerContainer">
        <div class="lb-container">
            <img class="lb-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="">
            <div class="lb-nav">
                <a class="lb-prev" aria-label="Previous image" href="https://www.teknofest.org/yarisma-detaylar-35.html"></a>
                <a class="lb-next" aria-label="Next image" href="https://www.teknofest.org/yarisma-detaylar-35.html"></a>
            </div>
            <div class="lb-loader">
                <a class="lb-cancel"></a>
            </div>
        </div>
    </div>
    <div class="lb-dataContainer">
        <div class="lb-data">
            <div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div>
            <div class="lb-closeContainer">
                <a class="lb-close"></a>
            </div>
        </div>
    </div>
</div>
<div id="hzImg" style="background: none; line-height: 0px; overflow: hidden; padding: 5px; position: absolute; z-index: 2147483647; visibility: visible; opacity: 1; top: 138px; left: 529px; width: auto; height: auto; cursor: pointer; pointer-events: none; display: none;"></div>
