@model IEnumerable<VizeWeb.Models.Duyuru>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DuyuruBaslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuyuruAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuyuruDetayLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuyuruTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DuyuruBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuyuruAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuyuruDetayLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuyuruTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DuyuruID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DuyuruID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DuyuruID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
